:root {
  --primary-color: #212529;
  --secondary-color: white;
  --accent-color: #0d6efd;
}

body {
  background-image: url("../img/sunset-with-clouds-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
h1 {
  text-align: center;
  padding: 20px;
  color: var(--secondary-color);
  font-size: 48px;
}
h4 {
  font-size: 80px;
  font-weight: 300;
  display: inline;
}
h5 {
  font-size: 20px;
}
a {
  text-decoration: none;
}

.container .main {
  display: grid;
  place-items: center;
}
/*.wrapper {
  display: block;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translateY(-50%);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/
.content {
  margin: 30px auto;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 1000px;
}
.search-container {
  margin: 0 10px;
}
.search-bar {
  margin: 20px auto;
  max-width: 650px;
  background: rgba(179, 178, 178, 0.05);
  box-shadow: 0 8px 9px 0 rgba(31, 38, 135, 0.17);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(44, 42, 42, 0.18);
}

.search-label {
  display: flex;
  justify-content: center;
  padding: 12px;
  background: var(--secondary-color);
  border-radius: 10px;
}
.another-forecast {
  vertical-align: middle;
  padding: 20px 0 20px 20px;
}
.week-weather-temperature {
  padding: 15px 0 0 0;
  margin: 0 auto;
}
.actual-city {
  padding: 20px 0 20px 20px;
}
.card-body {
  text-align: center;
  display: block;
  margin: 0 auto;
  flex: 1;
}
.week-weather {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
  padding: 0px;
  background: var(--secondary-color);
  box-shadow: 0 8px 9px 0 rgba(31, 38, 135, 0.17);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(44, 42, 42, 0.18);
}
.week-forecast {
  margin: 50px auto 30px auto;
}

.searching-city {
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-color);
  font-size: 40px;
}

.weather-description {
  text-transform: capitalize;
}

.actual-temp {
  font-size: 80px;
  font-weight: 300;
  display: inline;
  text-align: justify;
  padding: 0;
}
.celsius-fahrenheit {
  padding: 27px 0 20px 0;
  font-size: 25px;
  font-weight: 500;
}
.input-group-text-svg {
  padding: 10px 0 0 0;
}
.link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  padding: 0 0 0 40px;
}
.temperature-in-the-city .active {
  cursor: default;
  color: var(--primary-color);
}

.open-source {
  text-align: center;
  color: var(--primary-color);
}

@media (max-width: 900px) {
  body {
    font-size: 16px;
  }
  .wrapper {
    display: block;
    margin: 0 15px;
  }
  h1 {
    font-size: 32px;
  }
  .searching-city {
    font-size: 24px;
  }
  input#search-engine.form-control {
    font-size: 14px;
  }
  input.input-group-text {
    font-size: 14px;
  }
  button#current-city.current-city.input-group-text.btn.btn-primary {
    font-size: 14px;
  }
  .actual-temp {
    font-size: 48px;
    padding: 40px 0;
  }
  div.temperature-in-the-city.col-sm-3 {
    line-height: 25px;
  }
  span.input-group-text-svg.col-6.d-flex.justify-content-end img {
    max-width: 50%;
    height: auto;
  }
  div.card.week-weather.col-sm-1 {
    margin: 20px 30px;
  }
  div.container.short-week-forecast {
    padding: 0 30px;
  }
  .input-group-text-svg {
    padding: 0;
  }
}
